<div class="container-fluid vh-100 d-flex align-items-center">
  <div class="row w-100 h-100">
    <!-- Left Column for Image -->
    <div class="col-md-6 d-flex align-items-center justify-content-center bg-light">
      <img src="/assets/images/shopping.png" alt="Description" class="img-fluid image-container">

      <!-- <img src="/assets/images/shopping.png" alt="Description" class="img-fluid" style="background-color: white; padding: 10px;"> -->
    </div>
    
    <!-- Right Column for Form -->
    <div class="col-md-6 d-flex align-items-center justify-content-center" >
      <div class="card w-75 h-75">
        <div class="card-body" style="background-color: lightblue;">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'signin'" (click)="switchTab('signin')">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="activeTab === 'signup'" (click)="switchTab('signup')">Registration</a>
            </li>
          </ul>

          <!-- Tabs Content -->
          <div *ngIf="activeTab === 'signin'">
            <app-user-login></app-user-login>
          </div>
          <div *ngIf="activeTab === 'signup'">
            <app-user-registration></app-user-registration>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
